/* Vista Galería de Imágenes */

.container__seccion__imagenes {
  margin-bottom: 72px;
}

.galeria__imagen {
  padding: 16px !important;
  height: 204px;
  float: none;
}

.galeria__imagen__link {
  display: block;
  height: 100%;
  overflow: hidden;
}

.galeria__imagen__link img {
  transition: all .9s ease !important;
  cursor: pointer !important;
}

.galeria__imagen__link:hover img {
  transform: scale(1.15);
}

@media screen and (max-width: 767px) {
  .lista__galeria__imagenes {
    padding-left: 8px;
    padding-right: 8px;
  }

  .galeria__imagen {
    margin-bottom: 0;
    padding: 8px !important;
    height: 104px;
  }
}

/* Fin - Vista Galería de Imágenes */
