.owl-carousel__gridProducts .block-products-carousel__cell {
  -moz-transition: box-shadow, transform, 0.3s ease;
  -o-transition: box-shadow, transform, 0.3s ease;
  -webkit-transition: box-shadow, transform, 0.3s ease;
  transition: box-shadow, transform, 0.3s ease;
  cursor: pointer;
}

.owl-carousel__gridProducts .block-products-carousel__cell:hover {
  box-shadow: 0 11px 18px -17px rgba(0, 0, 0, 1);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.block-products-carousel[data-layout="grid-5"][data-mobile-grid-columns="2"]
  .product-card
  .product-card__image {
  margin-top: 40px;
  padding: 16px 18px 18px 18px;
  height: 152px;
}

.owl-carousel__gridProducts .product-image__body {
  height: 100%;
  padding-bottom: 0;
}

.block-products-carousel[data-layout="grid-5"][data-mobile-grid-columns="2"]
  .product-card--hidden-actions
  .product-card__buttons {
  display: flex;
}

.block-products-carousel[data-layout="grid-5"][data-mobile-grid-columns="2"]
  .product-card
  .product-card__info,
.block-products-carousel[data-layout="grid-5"][data-mobile-grid-columns="2"]
  .product-card
  .product-card__actions {
  padding: 0 24px 24px;
}

.block-products-carousel[data-layout="grid-5"][data-mobile-grid-columns="2"]
  .product-card--hidden-actions:hover {
  margin-bottom: 0;
}

.owl-carousel__gridProducts .product-card__rating-legend {
  display: none;
}

.block-products-carousel[data-layout="grid-5"][data-mobile-grid-columns="2"]
  .product-card
  .product-card__buttons
  .btn {
  font-size: 0.875rem;
  height: calc(1.875rem + 2px);
  line-height: 1.25;
  padding: 0.375rem 1rem;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .owl-carousel__gridProducts .owl-item {
    margin: 0 5.64px !important;
  }
}

@media screen and (max-width: 419px) {
  .owl-carousel__gridProducts .block-products-carousel__cell {
    margin-bottom: 16px;
  }
}
