.color_white {
  color: white;
}

/*Categorías del inicio*/
.pb-120 {
  padding-bottom: 120px;
}

.pt-135 {
  padding-top: 20px;
}

.banner-wrapper {
  position: relative;
  overflow: hidden;
}

.mt-24{
  margin-top: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px!important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.banner-wrapper::before {
  position: absolute;
  content: "";
  background-color: #001232;
  opacity: 0.65;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.banner-wrapper::after {
  border: 1px solid #76818c;
  bottom: 40px;
  content: "";
  left: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  transition: all 0.4s ease 0s;
  z-index: 9;
  pointer-events: none;
}

.banner-wrapper:hover::after {
  left: 20px;
  bottom: 20px;
  right: 20px;
  top: 20px;
}
/*.banner-content > h2*/
.banner-wrapper:hover {
  /*animation: 700ms ease-in-out 0s normal none 1 running zoomIn;*/
  background-color: red;
}

.banner-content {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
  padding: 10px;
}

.banner-content > h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.3px;
  margin: 0;
}

/*Sección familia*/
.justifyText {
  text-align: justify;
}

.contenedor:hover .imagen {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.contenedor {
  overflow: hidden;
}

.satura {
  filter: saturate(150%);
}

.satura:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/*Lista de videos de peleas por torneo*/

/**Estilos nuevos */
.counter-home-wraper .title-color {
  /*margin-top: -57px;*/
  border-radius: 5px 5px 0 0;
  padding: 14px 10px;
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .product-list-details > h2 {
    font-size: 25px !important;
  }
}

.counter-home-wraper .title-color h4 {
  color: #fff;
  padding: 0;
  margin: 0;
}

.title-color {
  background: #001232 !important;
  background-color: #001232 !important;
}

.project-people img {
  width: 32px;
  height: 32px;
}

.img-circle {
  border-radius: 50%;
}

.imageVideo {
  margin-left: 15px;
}

.imageVideoLeft {
  margin-left: 5px;
}

.product-list .product-wrapper {
  align-items: normal !important;
  display: flex !important;
}

/*Paneles */
.panel-box {
  background-color: #fff;
  margin: 0 0 0px 0;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.titles {
  border-bottom: #ddd 1px solid;
  margin-bottom: 35px;
  border-radius: 5px 5px 0 0;
}

.no-margin {
  margin: 0 !important;
}

.titles h4 {
  color: #222;
  margin: 0;
  padding: 15px 25px;
}

.panel-box h4 {
  font-size: 1.1rem;
}

.titles h4 {
  border-left: 5px solid #001232;
}

.imgPublicidad {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.panel-box .info-panel {
  padding: 20px 25px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.content-counter {
  background: #fff;
  width: 100%;
  position: relative;
}

.content-counter .btn {
  border-radius: 0;
  border: 0;
  width: 100%;
  margin-top: 30px;
  padding: 25px auto;
  height: 100%;
  position: relative;
}

.btn-primary {
  color: #fff !important;
  background-color: #001232 !important;
  border-color: #007bff;
  padding: 3% !important;
}

.panel-box .row {
  margin: 0;
}

/**Estilo sobrescritos paar el modal de videos */

.modal-body {
  display: inline !important;
}

.post-card__read-more,
.post-card__info {
  width: 100%;
}

/* Estilos para sección preguntas en Vista Conversemos */

.ship-different-title label {
  display: inline-block;
  margin-right: 20px;
  font-size: 25px;
  color: #363636;
}

.pregunta {
  border-bottom: 1px solid #e5e5e5;
  color: #444;
  font-size: 25px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
}

/* Fin - Estilos para sección preguntas en Vista Conversemos */

@media screen and (min-width: 992px) {
  .post-card__info {
    width: calc(100% - 380px);
  }
}
