.panel-box.padding-b {
  padding-bottom: 30px;
}

.panel-box {
  background-color: #fff;
  margin: 0 0 40px 0;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.titles {
  border-bottom: #ddd 1px solid;
  margin-bottom: 35px;
  border-radius: 5px 5px 0 0;
}

.titles h4 {
  color: #222;
  margin: 0;
  padding: 15px 25px;
}

.panel-box h4 {
  font-size: 1.1rem;
}

.titles h4 {
  border-left: 5px solid #001232;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.testimonial-content {
  margin-top: 70px !important;
  margin-bottom: 60px;
}

.justifyText {
  text-align: justify;
}

.contenedor:hover .imagen {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.contenedor {
  overflow: hidden;
}

.satura {
  filter: saturate(150%);
}

.satura:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.pb-95 {
  padding-top: 0px !important;
}

.panel-box .info-panel {
  padding: 20px 25px;
}

.panel-box .row {
  margin: 0;
}

.padding-top-mini {
  padding-top: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.justifyText {
  text-align: justify;
}

.checkbox-form {
  border-top: 0 !important;
}

.ship-different-title label {
  display: inline-block;
  margin-right: 20px;
  font-size: 25px;
  color: #363636;
}

.pregunta {
  border-bottom: 1px solid #e5e5e5;
  color: #444;
  font-size: 25px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
}
