.post-card--layout--list.post-card--size--nl .post-card__image {
  margin-right: 32px;
}

.post-card--layout--list.post-card--size--nl .post-card__name {
  margin-top: 0;
}

.product-details-small--triumphs .owl-stage {
  display: flex;
  flex-flow: row nowrap;
}

.owl-carousel .owl-nav button {
  background-color: #fff !important;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #8d8c8c !important;
  display: inline-block;
  font-size: 13px !important;
  height: 35px;
  left: -15px;
  line-height: 37px !important;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 35px;
  outline: none;
}

.product-dec-slider:hover .owl-nav button {
  opacity: 1;
}

.product-dec-slider.owl-carousel .owl-nav .owl-next {
  left: auto;
  right: -15px;
}

.product-dec-slider.owl-carousel .owl-nav button:hover {
  background-color: #ffb52f !important;
  color: #fff !important;
}

.product-details-small--triumphs .owl-item {
  float: none;
}

.product-details-small--triumphs .ver_video {
  display: block;
}

.product-details-small--triumphs .owl-item img {
  height: 100%;
}

@media screen and (min-width: 992px) {
  .posts-list__item--triumph .post-card {
    align-items: center;
  }

  .posts-list__item--triumph .post-card__info {
    padding-top: 0 !important;
  }

  .product-details-small--triumphs .owl-item {
    flex: 0 0 174px;
    max-width: 174px;
    height: 102px;
  }
}

@media screen and (max-width: 767px) {
  .posts-list__item--triumph .post-card__info {
    padding-top: 0 !important;
  }

  .post-card--layout--list.post-card--size--nl .post-card__name {
    margin-bottom: 12px;
    font-size: 17px;
  }

  .post-card--layout--list.post-card--size--nl .post-card__read-more {
    margin-top: 12px;
  }

  .post-card--layout--list.post-card--size--nl .post-card__category,
  .post-card--layout--list.post-card--size--nl .post-card__date {
    font-size: 14px;
  }

  .product-details-small--triumphs .owl-item {
    flex: 0 0 102.5px;
    max-width: 102.5px;
    height: 76px;
  }
}
