.post-card--layout--list.post-card--size--nl .post-card__name,
.posts-list__item--triumph:first-child {
  margin-top: 0;
}

.posts-list__item--triumph .post-card--layout--list {
  align-items: center;
}

.post-card--layout--list.post-card--size--nl .post-card__name {
  font-weight: 600;
}

.posts-list__item--triumph .post-card__info {
  padding-top: 0 !important;
}

.post-card--layout--list.post-card--size--nl .post-card__name a {
  cursor: pointer;
  color: #001232;
}

.post-card--layout--list.post-card--size--nl .post-card__name a:hover {
  color: #ffb52f;
}

.product-details-small--triumphs .owl-stage {
  display: flex;
  flex-flow: row nowrap;
}

.owl-carousel .owl-nav button {
  display: block;
  background-color: #fff !important;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #8d8c8c !important;
  font-size: 13px !important;
  width: 35px;
  height: 35px;
  left: -15px;
  line-height: 37px !important;
  opacity: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  outline: none;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
}

.product-dec-slider:hover .owl-nav button {
  opacity: 1;
}

.product-dec-slider.owl-carousel .owl-nav .owl-next {
  left: auto;
  right: -15px;
}

.product-dec-slider.owl-carousel .owl-nav button:hover {
  background-color: #ffb52f !important;
  color: #fff !important;
}

.product-details-small--triumphs .owl-item {
  float: none;
}

.posts-list__item--triumph a,
.product-details-small--triumphs .ver_video {
  display: block;
}

.product-details-small--triumphs .owl-item img {
  height: 100%;
}

@media screen and (min-width: 1101px) {
  .posts-list__item--triumph .post-card__info {
    width: calc(100% - 380px);
  }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .posts-list__item--triumph .post-card__info {
    width: calc(100% - 282px);
  }
}

@media screen and (min-width: 992px) {
  .product-details-small--triumphs .owl-item {
    flex: 0 0 174px;
    max-width: 174px;
    height: 102px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .posts-list__item--triumph .post-card__info {
    padding-top: 0 !important;
    width: calc(100% - 294px);
  }

  .product-details-small--triumphs .owl-item {
    flex: 0 0 115px;
    max-width: 115px;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {

  .posts-list--layout--list .posts-list__body {
    margin-top: 0;
  }

  .post-card--layout--list.post-card--size--nl .post-card__image {
    margin-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .posts-list--layout--list .posts-list__body {
    margin-top: -4px;
  }

  .post-card--layout--list.post-card--size--nl .post-card__image,
  .posts-list__item--triumph img {
    width: 100%;
  }

  .posts-list__item--triumph .post-card__info {
    padding-top: 0 !important;
  }

  .post-card--layout--list.post-card--size--nl .post-card__name {
    margin-bottom: 12px;
    font-size: 17px;
  }

  .post-card--layout--list.post-card--size--nl .post-card__read-more {
    margin-top: 12px;
  }

  .post-card--layout--list.post-card--size--nl .post-card__category,
  .post-card--layout--list.post-card--size--nl .post-card__date {
    font-size: 14px;
  }

  .product-details-small--triumphs .owl-item {
    flex: 0 0 145px;
    max-width: 145px;
    height: 94px;
  }
}

@media screen and (max-width: 500px) {
  .product-details-small--triumphs .owl-item {
    flex: 0 0 102.5px;
    max-width: 102.5px;
    height: 76px;
  }
}
