.container__seccion__videos {
  margin-bottom: 72px;
}

.lista__galeria__videos {
  margin-top: -8px;
}

.breadcrumb {
  margin-bottom: 0;
}

.galeria__video {
  padding: 0 16px 32px;
  height: 204px;
  margin-bottom: 0 !important;
}

.galeria__video a,
.galeria__video img {
  height: 100%;
}

.galeria__video a {
  border: 0 !important;
  float: none !important;
  border-radius: 0 !important;
}

.galeria__video .img-responsive {
  object-fit: cover;
  object-position: center top;
  transition: all 0.9s ease;
}

.demo-gallery-poster {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.demo-gallery-poster > img {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  width: 64px;
  height: 64px;
}

.galeria__video:hover .img-responsive {
  transform: scale(1.15);
}

@media screen and (max-width: 767px) {
  .lista__galeria__videos ul {
    padding-left: 8px;
    padding-right: 8px;
  }

  .galeria__video {
    padding: 8px !important;
    height: 104px;
    margin-bottom: 0;
  }
}
